<!doctype html>
<html>

<head>
    <title>FlyIE Travel </title>
     <link rel="stylesheet" href="styles/main.css">
  
</head>

<body>
    <header>
      <img src="/images/logo.png" alt="A lovely logo">
      <h1>Using the special layout</h1>
   </header>
   
    {{{body}}}
</body>

</html>