
<form method="post">
<label for="carname">Car Name: 
    <input id="carname" name="carname">
</label>
<fieldset>
    <legend>Model of Car</legend>
    <input type="radio" name='model' value="Volvo" id="Volvo"><label for="Volvo">Volvo</label>
    <input type="radio" name='model' value="Renault" id="Renault"><label for="Renault">Renault</label>
</fieldset>

<button type="submit">Enter Data</button>

</form>