
<form method="post">
<label for="carname">Car Name: 
    <input id="carname" name="carname">
</label>

{{!-- Button is type button now, it won't trigger a request automatically --}}
<button type="button">Enter Data</button> 

</form>