<form method="post" id="addcarform">
    <label for="carname">Car Name:
        <input id="carname" name="carname" required >
    </label>

    <fieldset>
        <legend>Model of Car</legend>
        <input type="radio" name='model' value="Volvo" id="Volvo"><label for="Volvo">Volvo</label>
        <input type="radio" name='model' value="Renault" id="Renault"><label for="Renault">Renault</label>
    </fieldset>

    <!-- Button has a listener attached in the script -->
    <button id="button" type="submit" >Enter Data</button>

</form>

<div id="message"></div>

<script>

      //listen for when the button is clicked then call the postData method 
    // document.getElementById('button').addEventListener('click', postData);

    document.getElementById('addcarform')
    .addEventListener("submit", function (event) {
        event.preventDefault(); // stops the whole form being submitted as a Request

        postData();
    });

  

    function postData() {


        // Set the body of the request with the data

        const body = JSON.stringify({
            carname: document.getElementById('addcarform').elements.carname.value,
            model: document.getElementById('addcarform').elements.model.value,
        })

        //For debugging purposes only this logs to the developer console in your browser
        console.log(body);

        //set the options for the fetch
        const options = {
            method: 'POST',
            body: body,
            headers: {
                'Content-Type': 'application/json'
            }
        }
        const uri = '/api/processaddcar2';

        const message = document.getElementById('message');

        // send POST request

        fetch(uri, options)
            .then(resp => {
                if (resp.status < 200 || resp.status >= 300)
                    throw new Error(`Request failed with status ${resp.status}`)
                return resp.json()
            })
            .then(json => {
                console.log("success");
                message.innerHTML = '<strong>Your data has been submitted - thanks!</strong>'
            })
            .catch(err => {
                console.log("error");
                message.innerHTML = '<strong>Opps something went wrong - thanks!</strong>'
            })
    }

</script>